body {
    background-color: rgb(242, 248, 253);
}

body,
.form-control,
.card {
    transition: all 0.5s ease;
}

body, .form-control {
    transition: background-color 0.9s ease, color 0.9s ease;
}

body.dark-mode,
.form-control.dark-mode {
    background-color: black;
    color: #fff !important;
}

.card.dark-mode {
    background-color: #32578300;
    color: #fff;
}

.form-control.dark-mode {
    background-color: #3257834d;
    color: #fff;
}

#textPrompt {
    resize: none;
    font-size: 20px;
}

.card-space {
    margin-bottom: 100px;
}

.btn[onclick="copyToClipboard()"] {
    display: none;
}

.form-floating>textarea {
    width: 300px;
    height: 300px !important;
    margin-top: 10%;
    background-color: transparent;
    border-color: #0a3871;

}

.form-control {
    resize: none;
    color: #0a3871;
    font-weight: 500;
}



.card {
    margin-top: 10%;
    border: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-space {
    margin-bottom: 100px;
}

.btn-1 {
    background-color: #0a3871;
    /* color de fondo inicial */
    color: white;
    /* color de texto inicial */
    box-shadow: none;
    /* sin sombra de caja inicialmente */
    transition: all 0.5s ease;
    /* transición más suave */
    transform: scale(1);
    /* tamaño inicial */
}

.btn-1:hover {
    background-color: #082d5f;
    /* color de fondo más oscuro */
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    /* tamaño ligeramente mayor */
}

.btn-2 {
    background-color: rgb(235, 250, 255);
    /* color de fondo inicial */
    border-color: #0a3871;
    /* color de borde inicial */
    color: #0a3871;
    /* color de texto inicial */
    transition: all 0.5s ease;
    /* transición suave */
}

.btn-2:hover {
    background-color: #0a3871;
    /* color de fondo oscuro */
    border-color: rgb(235, 250, 255);
    /* color de borde claro */
    color: rgb(235, 250, 255);
    /* color de texto claro */
}

.btn {
    margin-top: 3%;
    margin: 30px;
    width: 125px;
    height: 40px;
}

.img-thumbnail {
    background-color: transparent;
    border: none;
    margin-top: 2%;
}

#textPrompt {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
    background-color: white;
    color: #0a3871;
}

#textPrompt {
    border: 1px solid #0a3871;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
    background-color: transparent;
    color: #0a3871;
}

#textPrompt:focus {
    box-shadow: 0 5px 15px #0a3871;
    border-color: #4d90fe;
}

.card {
    border: 1px solid #0a3871;
    color: #0a3871;
    transition: box-shadow 0.3s ease;
}

.card:active {
    box-shadow: 0 5px 15px #0a3871;
}

/* Agregar regla para la selección activa */
::selection {
    background: #0a3871;
    color: #fff;
}



.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a3871;
    color: white;
    text-align: center;
}

/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

.ui-switch {
    margin-top: 2%;
    margin-right: 10px !important;
}

.navbar {
    background-color: transparent;
    height: 30px !important;
    background-color: none;

}

.textarea-2 {
    position: absolute;
    top: -150px;
    /* Ajusta este valor según lo necesites */
    left: 0;
    background-color: #fff;
}

